 <p>bmi works!</p>

 <p>Let's calculate your BMI</p>
<!--
<div class="bmiDiv">
    <form class="bmi-form">
        <label> FirstName: </label>
        <br>
        <input type="FirstName" [(ngModel)]="firstname" name="firstname" required><br><br>
        
        <label> LastName: </label>
        <br>
        <input type="LastName" [(ngModel)]="lastname" name="lastname" required><br><br>
       
        <label> Username: </label>
        <br>
        <input type="UserName" [(ngModel)]="username" name="username" required><br><br>
        
        <label> Password: </label>
        <br>
        <input type="Password" [(ngModel)]="password" name="password" minlength="5" maxlength="15" box-length="300px"
          required><br>
  
        <h4>Click here to create account</h4>
        <button (click)="calculateBmi()">Sign Up</button>
  
        <p class="message">Already existing User?<a routerLink="/login">Login</a></p>
        
      </form>
</div> -->