*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin :0;
    padding: 0;
    box-sizing: border-box; */
}  

#selections{
    display:flex;
    justify-content: center;
} 

.message{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#meal_select, #food_item_select{
    margin:100px;
}

header{
    height:3rem; 
    /* background-color:teal;  */
    text-align:center; 
    font-size:3rem; 
    font-style: normal; 
    position: sticky;
    top:0;
    /* padding: 1.1rem; */
    padding: 1rem 0 2.5rem 0;  /* extra bottom padding */
    width: 100%;
    background: linear-gradient(90deg, #009688, #00796b);;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: white;
}

.header-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

.flex-parent{
    display: flex;
    margin: 5rem;
    /* height: 15rem;
    width: 15rem;
    width: auto; */
}



.jc-center{
    justify-content: center;
}

button.margin-right{
    margin-right: 20%;
    margin-left: 20%;
}

button{
    background-color: lightgrey;

}

#add{
    display:flex;
    justify-content: center;
    margin: left 50%;  
}

/*form dropdown*/

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

/* Card Styles */
.carddiv {
    background: #e0f2f1; /* light teal background *//* #e8d9ff;  soft purple background */
    border-radius: 1rem;
    width: 18rem;
    min-height: 12rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

/* Hover Effect */
.carddiv:hover {
    transform: scale(1.05);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* Grid Layout for Cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*repeat(2, 1fr); 3 cards per row */
    gap: 2rem;
    justify-content: center;
    padding: 4 rem;/*4rem;*/
    justify-items: center;
    margin-top: 10%; 
}

/* Header */
.card-header {
    background:  #009688; /* strong teal */ /*#9b59b6; stronger purple */
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

/* Body */
.card-body {
    padding: 1rem;
    text-align: center;
  }
  
  .subtitle {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 1rem;
  }
  

/* Button */
.card-btn {
    background-color: #009688;/*#9b59b6;*/
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .card-btn:hover {
    background-color: #00796b;/*#7d3c98;*/
  }


  