<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriBoost</title>
</head>

    <header>Welcome to NutriBoost 
      <!-- <a href="#"><img src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg"
            style="height:30px; width:30px; border-radius:50%; right:15px; top:20px; position:absolute;" onclick="openProfile()" ></a>     -->
      </header>

<div class="userOptions">
   
    <div class="flex-parent jc-center" >
        <div class="carddiv" routerLink="/createDietPlan">
            <p class="message">Create diet plan <!-- <a routerLink="/createDietPlan">Create</a> --></p>
        </div> 
    </div>

    <div class="flex-parent jc-center" >
        <div class="carddiv" routerLink="/viewDietPlan">
            <p class="message">View diet plan<!-- <a routerLink="/viewDietPlan">View</a> --></p>
        </div>
    </div>
        
    
    <!-- <div class="flex-parent jc-center" >
        <div class="carddiv" routerLink="/bmi">
            <p class="message">Calculate your BMI</p>
        </div>
    </div>  -->
    <br>
    <br>
</div>

    <!--
    <div id="selections">
    <form>
        <div id="week_select">
        <h5>Select the day of the week</h5>
        <select  name="demooption" id="#" style="position:absolute;">
            <option selected="selected" value="one">Monday</option>
            <option value="two">Tuesday</option>
            <option value="three">Wednesday</option>
            <option value="four">Thursday</option>
            <option value="five">Friday</option>
            <option value="six">Saturday</option>
            <option value="seven">Sunday</option>
        </select>
    
        </div>
    
        
        <div id="meal_select">
            <h5>Select the meal type</h5>
            <select name="demooption" id="#" style="position:absolute;">
                <option selected="selected" value="one">Breakfast</option>
                <option value="two">Lunch</option>
                <option value="three">Dinner</option>
                <option value="four">None</option>
            </select>
        </div>
    
       <!--<div>
            <mat-form-field>
                <mat-select >
                    <mat-option value="item" *ngFor="let food_item of food_choice">
                        {{food_item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div> -->
    
       <!--<div class="food_item_select">
            <h5>Select the food items</h5>
            <select name="demooption" id="#" style="position:absolute;">
                <option selected="selected" value="one">Food item 1</option>
                <option value="two">Food item 2 </option>
                <option value="three">Food item 3 </option>
                <option value="four">Food item 4 </option>
            </select>
        </div>

    </form>
    </div>
    <br>
    <br>
   
</div>
-->
