/* You can add global styles to this file, and also import other style files */
/*.body{
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
*/
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #f1f8e9); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  